[POSTGRES]
user = postgres
database = postgres
password = postgres
port = 5432
host = localhost

[TCOUNT]
database = tcount
table = tweetwordcount

[TWITTER]
consumer_key = xxxxxxxxxxxxxxxxxxxxxxxxx
consumer_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access_token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access_token_secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

